[user]
	name = Aaron G. Tumulak
	email = agtumulak@gmail.com
[core]
        editor = nvim
        pager = delta
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
        required = true
[interactive]
        diffFilter = delta --color-only
[delta]
        syntax-theme = base16-256
        navigate = true # use n and N to move between diff sections
        line-numbers = true
[merge]
        conflictstyle = diff3
[diff]
        colorMoved = default
[alias]
	ch = checkout
	st = status
    logg = !nvim -c \"Flog -all\"
